.caroussel-section {
  margin-bottom: 50px;
  height: 325px;
  display: flex;
}

.left-section {
  flex: 1;
  padding-right: 30px;
}

.left-section p:nth-child(3) {
  text-decoration: underline;
  color: #545454;
}

.left-section p:nth-child(3):hover {
  cursor: pointer;
}

.right-section {
  width: 75%;
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.bloc-caroussel {
  width: calc((100% - 20px) / 3);
  flex-shrink: 0;
}

.img-bloc {
  height: 185px;
}

.img-bloc img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-bloc img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.desc-bloc {
  height: calc(100% - 185px);
}

.desc-bloc p {
  padding-top: 10px;
  font-size: 14px;
  color: #333333;
}

.desc-left-caroussel {
  margin: 20px 0px;
}
