.caroussel-section {
  margin-bottom: 200px;
  height: 325px;
  display: flex;
}

.left-section {
  flex: 1;
  padding-right: 30px;
}

.left-section p:nth-child(3) {
  text-decoration: underline;
  color: #545454;
}

.left-section p:nth-child(3):hover {
  cursor: pointer;
}

.right-section {
  width: 75%;
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.bloc-caroussel {
  border: 2px solid red;
  width: calc((100% - 20px) / 3);
  flex-shrink: 0;
}

.img-bloc {
  height: 185px;
  width: 100%;
  background-color: yellow;
}

.desc-bloc {
  height: calc(100% - 185px);
  background-color: green;
}

.desc-left-caroussel {
  margin: 20px 0px;
}
