main p {
  font-size: 14px;
  color: #5b5858;
  margin-bottom: 30px;
}

.first-div-main {
  display: flex;
  justify-content: space-between;
}

.first-div-main div {
  border: solid 1px black;
  height: 66px;
  width: 174px;
  border-radius: 15px;
  padding: 12px 15px;
}

main p span {
  text-decoration: underline;
}

main p span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.second-div-main {
  display: flex;
  justify-content: space-between;
}
