/* GÉNÉRAL RULES */

* {
  box-sizing: border-box;
}

.container {
  width: 1135px;
  margin: 0px auto;
  padding: 0px 20px;
}

button,
body {
  font-family: TS-Reg, sans-serif;
  font-size: 16px;
}

/* HEADER */

header {
  height: 85px;
}

header:hover {
  cursor: pointer;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header img {
  height: 50px;
}

header nav {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 18px;
  height: 50px;
}

header nav .header-div:hover {
  background-color: #f2f2f2;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
}

.header-div {
  display: flex;
}

nav div {
  gap: 10px;
}

.login {
  background-color: black;
  color: white;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 20px;
}

.login:hover {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #4c4c4c;
  cursor: pointer;
}
