h1 {
  font-size: 54px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-top: 20px;
}

h1 span {
  color: #ff5c5d;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 40px;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 20px;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  padding: 10px 0px;
  font-weight: bold;
}

h5:hover {
  text-decoration: underline;
  cursor: pointer;
}
